body{
	background: steelblue;
}
h1{
	text-align: center;
	color: #171BA6;
}
.dados{
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	padding: 1.5em 0;
	justify-content: center;
	width: 60%;
	background: #171BA6;
	border-radius: 3em;
}
[class^="cara"]{
	background: #fff;
	border: 3px solid #000;
	width: 180px;
	height: 180px;	
	padding: 1em;
	margin: 1em;
	border-radius: 10%;
	display: flex;
}
.punto{
	background: #000;
	border-radius: 50%;
	width: 40px;
	height: 40px;
}
.cara-1{
	justify-content: center;
	align-items: center;
}
.cara-2{
	justify-content: space-between;
}
.cara-2 .punto:nth-child(2){
	align-self: flex-end;
}
.cara-3{
	justify-content: space-between;
}
.cara-3 .punto:nth-child(2){
	align-self: center;
}
.cara-3 .punto:nth-child(3){
	align-self: flex-end;
}
.cara-4{
	justify-content: space-between;
}
.columna{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.cara-5{
	justify-content: space-between;
}
.cara-5 .punto:nth-child(2){
	align-self: center;
}
.cara-6{
	justify-content: space-between;
}